<div>
  <%= f = form_for a %>
    <%= text_input f, :name %>
  </form>
  <div>
    <form></form>
  </div>
  <%= f = form_for b %>
    <%= text_input f, :name %>
  </form>
  <div>
    <div>
      <%= fs = form_for c %>
        <%= text_input f, :name %>
      </form>
    </div>
  </div>

    <%= f = form_for a, fn -> %>
     <%= text_input f, :name %>
  <% end %>
</div>
