

<div
<%= if bar13 %>
    class="attribute"
class="attribute"
          <% else %>
          class="attribute"
<% end %>
></div>

<div>
  <%= if ss do %>
    ss
  <% else %>
sss  
  <% end %>
    </div>

    <div>
     <%= if ss do %>
    ss
     <%= if ss do %>
    ss
  <% else %>
sss  
  <% end %>
  <% else %>
   <%= if ss do %>
    ss
  <% else %>
sss  
  <% end %>
sss  
  <% end %>
    </div>
<li class="<%= active_link(@conn, PageController)%>"><a href="<%= page_path(@conn, :index) %>">Home</a></li>

<div
  <%= ddd %>
    class="dd"
></div>
