<div>
<%= for item <- @items do %>
  <%= item %>
  item
<% end %>
</div>
<span>
<%= for item <- @items do %>
  <%= item %>
  item
<% end %>
</span>

<div>
<%= for item <- @items do %>
  <div>
<%= item %>
    </div>
  <span>item<%= fm %></span>
<% end %>
</div>
