<div>
<%= cond do %>
<% ee -> %>
ede
  <% true -> %>
    <div>dsd</div>
<% end %>

</div>
<span>
<%= cond do %>
<% ee -> %>
ede
  <% true -> %>
    <div>dsd</div>
<% end %>

</span>

<div>
<%= cond do %>
<% ee -> %>
ede
  <% true -> %>
    <div>
    dsd
    </div>
<% end %>
</div>
