<table>
  <tbody>
   <tr><td><% re %></td></tr>
   <tr><td>ew<% re %>ew</td></tr>
   <tr><td>ew <% re %> ew</td></tr>
   <tr><td> <% re %> </td></tr>

    <tr><td><%= if 43 do %>
      <% 43 %>
    <% else %>
        43
        <% 43 %>
    <% end %></td></tr>
  </tbody>
</table>

<table><tbody><tr><td><% re %></td></tr></tbody></table>

<table>
  <tbody>
   <tr><td><% looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong %></td></tr>
   <tr><td>ew<% looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong %>ew</td></tr>
   <tr><td>ew <% looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong %> ew</td></tr>
   <tr><td> <% looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong %> </td></tr>

    <tr><td><%= if looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong do %>
      <% looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong %>
    <% else %>
        looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong
        <% looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong %>
    <% end %></td></tr>
  </tbody>
</table>

<table><tbody><tr><td><% looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong %></td></tr></tbody></table>
