<table>
  <tbody>
   <tr><% re %></tr>
   <tr> <% re %> </tr>

    <tr><%= if 43 do %>
      <% 43 %>
    <% else %>
        43
        <% 43 %>
    <% end %></tr>
  </tbody>
</table>

<table><tbody><tr><% re %></tr></tbody></table>
