
<ruby>
<rb>
  <% 32 %>
</rb>
<rb> <% 32 %> </rb>
<rb>32<% 32 %>32</rb>
<rb>32 <% 32 %> 32</rb>
<rb class='<% 32 %>'><% 32 %></rb>
<rb class='<% 32 %>'>
<% 32 %>
</rb>
<rb class='<% 32 %>'> <% 32 %> </rb>
<rb class='<% 32 %>'>32<% 32 %>32</rb>
<rb class='<% 32 %>'>32 <% 32 %> 32</rb>
</ruby>

<div>
<ruby>
<rb>
  <% 32 %>
</rb>
<rb> <% 32 %> </rb>
<rb>32<% 32 %>32</rb>
<rb>32 <% 32 %> 32</rb>

<rb class='<% 32 %>'><% 32 %></rb>
<rb class='<% 32 %>'>
<% 32 %>
</rb>
<rb class='<% 32 %>'> <% 32 %> </rb>
<rb class='<% 32 %>'>32<% 32 %>32</rb>
<rb class='<% 32 %>'>32 <% 32 %> 32</rb>
</ruby>
</div>
