
<ruby>
<rp>
  <% 32 %>
</rp>
<rp> <% 32 %> </rp>
<rp>32<% 32 %>32</rp>
<rp>32 <% 32 %> 32</rp>
<rp class='<% 32 %>'><% 32 %></rp>
<rp class='<% 32 %>'>
<% 32 %>
</rp>
<rp class='<% 32 %>'> <% 32 %> </rp>
<rp class='<% 32 %>'>32<% 32 %>32</rp>
<rp class='<% 32 %>'>32 <% 32 %> 32</rp>
</ruby>

<div>
<ruby>
<rp>
  <% 32 %>
</rp>
<rp> <% 32 %> </rp>
<rp>32<% 32 %>32</rp>
<rp>32 <% 32 %> 32</rp>

<rp class='<% 32 %>'><% 32 %></rp>
<rp class='<% 32 %>'>
<% 32 %>
</rp>
<rp class='<% 32 %>'> <% 32 %> </rp>
<rp class='<% 32 %>'>32<% 32 %>32</rp>
<rp class='<% 32 %>'>32 <% 32 %> 32</rp>
</ruby>
</div>
