
<ruby>
<rt>
  <% 32 %>
</rt>
<rt> <% 32 %> </rt>
<rt>32<% 32 %>32</rt>
<rt>32 <% 32 %> 32</rt>
<rt class='<% 32 %>'><% 32 %></rt>
<rt class='<% 32 %>'>
<% 32 %>
</rt>
<rt class='<% 32 %>'> <% 32 %> </rt>
<rt class='<% 32 %>'>32<% 32 %>32</rt>
<rt class='<% 32 %>'>32 <% 32 %> 32</rt>
</ruby>

<div>
<ruby>
<rt>
  <% 32 %>
</rt>
<rt> <% 32 %> </rt>
<rt>32<% 32 %>32</rt>
<rt>32 <% 32 %> 32</rt>

<rt class='<% 32 %>'><% 32 %></rt>
<rt class='<% 32 %>'>
<% 32 %>
</rt>
<rt class='<% 32 %>'> <% 32 %> </rt>
<rt class='<% 32 %>'>32<% 32 %>32</rt>
<rt class='<% 32 %>'>32 <% 32 %> 32</rt>
</ruby>
</div>
